/* Styles for page area above calculator */

.alert {
  background-color: #e6e6e6;
  padding: 8px;
  text-align: center;
  margin-bottom: 40px;
}

.alert div {
  margin: 8px 0;
}

.title {
  text-align: center;
  margin: 20px 0 40px 0;
  font-weight: normal;
  font-size: 38px;
}

.subtitle {
  text-align: center;
  margin: 20px 0 40px 0;
}

/* Calculator-specific styles */

.calculator {
  padding: 16px 24px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

#errors,
#errors-header {
  color: #d63e04;
}

#errors-header .error-total {
  text-transform: uppercase;
  font-weight: bold;
}

#errors-header li {
  font-style: italic;
}

#household-size-label {
  margin-top: 8px;
}

/* Larger than default form */
#prescreener-form.usa-form {
  max-width: none;
}

/* Keep input fields the same max width */
#prescreener-form.usa-form .usa-input,
#prescreener-form.usa-form .usa-select {
  max-width: 20rem;
}

fieldset.usa-fieldset:not(:first-child) {
  margin-top: 1.5rem;
}

fieldset.usa-fieldset legend {
  font-weight: bold;
}

.usa-label {
  font-weight: bold;
}

.usa-radio {
  margin-top: 8px;
}

.label-sub-text {
  color: #2f4f4f;
}

.currency_field_wrapper {
  position: relative;
}

.currency_field_wrapper input {
  padding-left: 20px;
}

.dollar_sign {
  position: absolute;
  top: 9px;
  left: 8px;
}

.field-required {
  line-height: 1.625;
  font-weight: 400;
  font-style: italic;
  color: #b50909;
}

/* Calculator results styles */
#results-section-title {
  margin-top: 1.5em;
}

.pass-green {
  color: #00a91c;
}

.fail-red {
  color: #d54309;
}

.explanation-link {
  cursor: pointer;
  font-weight: bold;
}

.explanation-link.clicked {
  cursor: default;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.explanation-link.clicked:hover {
  color: black;
}

/* Utility classes */

.hidden {
  display: none;
}

#main {
  padding-bottom: 80px;
}

/* Footer styles */

footer#snap-calculator-footer {
  color: white;
  background-color: #005ea2;
  text-align: center;
  width: 100%;
  padding: 16px;
}

footer#snap-calculator-footer a {
  color: white;
}

footer#snap-calculator-footer div {
  margin: 16px 0;
}

.allformelements {
  width: 80%;
  margin: 0 auto;
}

/* New Popup -   /* Height & width depends on how you want to reveal the overlay (see JS below) */

.overlay {
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: opacity 2s ease-in-out; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  opacity: 1;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 50%; /* 100% width */
  text-align: center; /* Centered text/links */
  color: rgb(0, 0, 0);
  background-color: rgb(200, 200, 200);
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border: 2px solid black;
  transition: 0.5s;
  margin-left: 20px;
  margin-right: 20px;
}

.overlay .closebtn:hover {
  background-color: rgba(10, 144, 10, 0.739);
}

@media only screen and (max-width: 800px) {
  .overlay-content {
    font-size: 12px;
    width: 85%;
  }
}

/* Logo */

.logo {
  width: 75%;
  display: block;
  margin: auto;
  height: 225px;
  object-fit: scale-down;
}
